<div class="container overflow-hidden">
  <div class="row g-4 justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <h5 class="card-header">Order</h5>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-auto">
                  <p id="labelName" class="card-text">
                    {{carrierInfo.carrier}}
                    {{carrierInfo.service}}
                    (From
                    {{savedShipment.to_address.name}}
                    | To
                    {{savedShipment.from_address.name}})
                  </p>
                </div>
                <div class="col-auto">
                  <a
                    id="label"
                    class="btn btn-secondary"
                    role="button"
                    href="{{shipment.postage_label.label_url}}"
                  >Label</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>